# GitHub Packages Configuration
# Copy this file to .npmrc and replace TOKEN with your GitHub personal access token

@samryansoftwaresolutions:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=TOKEN 